
.loginpage{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.loginForm{
  /* background-color: brown; */
  /* width: 100%; */
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.for-crt-link{
  width: 13em;
  display: flex;
  justify-content: space-between;
  /* background-color: aqua; */
 }
 
 .reset-form{
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
 }
 .reset-input{
  display: flex;
  gap: 2em;
 }
 /*
@media(min-width:2000px) {
  
 .box-size{
  width: 50rem !important;
  height: 8rem !important;
 } 
} */